<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista de Eixos</title>
</head>
<h1>Cadastrar unidade</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'unidade.add' %}" method="post">
{% csrf_token %}
<input type="text" name="unidade" placeholder="Unidade">
<input type="text" name="endereco" placeholder="Endereço">

<input type="submit" value="Criar" />
</form>
</body>
</html>